.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 3px solid green; */
}

.service-icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 258px;
    height: 254px;
    flex-direction: column;
    margin: 30px;
}

.service-icon {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: all .4s ease;
}
.service-icon:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1); 
    transition: all .4s ease;
}
.icons-container p {
    margin-top: 20px;
    height: 20%;
}

/* services */
.block-icon {
    background-image: url("../images/services-icons/block-icon.svg");
    width: 204px;
    height: 173px;
}
.bitum-icon {
    background-image: url("../images/services-icons/bitum.svg");
    width: 192px;
    height: 140px;
}
.osp-icon {
    background-image: url("../images/services-icons/osp.svg");
    width: 207px;
    height: 115px;
}
.mixture-icon {
    background-image: url("../images/services-icons/mixture.svg");
    width: 188px;
    height: 103px;
}
.cement-icon {
    background-image: url("../images/services-icons/cement.svg");
    width: 208px;
    height: 114px;
}
.strucco-icon {
    background-image: url("../images/services-icons/strucco.svg");
    width: 175px;
    height: 145px;
}

.thermal-insulation-icon {
    background-image: url("../images/services-icons/thermal-insulation.svg");
    width: 137px;
    height: 111px;
}


/* advantages */
.advantage-icon {
    background-repeat: no-repeat;
    width: 136px;
    height: 136px;
    transition: all .4s ease;
}
.advantage-icon:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1); 
    opacity: 0.9;
    transition: all .4s ease;
}
.advantage-icon-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 224px;
    height: 200px;
    flex-direction: column;
    margin: 30px;
}

.first-icon {
    background-image: url("../images/advantages-icons/1.svg");
}
.second-icon {
    background-image: url("../images/advantages-icons/2.svg");
}
.third-icon {
    background-image: url("../images/advantages-icons/3.svg");
    
}
.fourth-icon {
    background-image: url("../images/advantages-icons/4.svg");
   
}
.fifth-icon {
    background-image: url("../images/advantages-icons/5.svg");
    
}
.sixth-icon {
    background-image: url("../images/advantages-icons/6.svg");
}



@media (max-width: 1400px) {
    
  
}
