
* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color:white;
}

body {
    position: relative;
}

.logo {
    width: 117px;
    height: 80px;
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 3;
    cursor: pointer;
}

.main {
    background: url("../images/main-transport.svg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 700px;
    position: relative;
    height: 80vh;
    z-index: 2;
}

.mtop {
    margin-top: 8em;
}

.header-right-positioned {
    margin-top: 45px;
    margin-right: 7%;
    float: right;
    position: relative;
    z-index: 4;
}

.company-phone {
    width: 195px;
    height: 41px;
    line-height: 41px;
    border-radius: 37.5px;
    background: #005CA8;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.company-phone:hover {
    opacity: 0.85;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
} 
.yellow-clip {
    background-image: url("../images/yellow-clip.svg");
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 700px;
}

.services {
    background-image: url("../images/blue-bg-services.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20em;
    z-index: 1;
    margin-top: calc(-120px - 10vw);
    /* transform: translateY(calc(-120px - 10vw)); */
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    position: relative;
}

.services-content {
    padding-top: calc(150px + 10vw);
}

.callback {
    background-image: url("../images/blue-bg-services.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10em;
    position: relative;
    z-index: 1;
    /* transform: translateY(calc(-120px - 10vw)); */
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.callback-content {
    padding-top: calc(250px + 5vw);
}

.advantages {
    margin-top: -100px;
    /* width: 100%; */
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    position: relative;
}

.advantages-container {
    max-width: 1040px;
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    position: relative;
}

.test {
    height: 500px;
    border: 3px solid black;
    background-color: blueviolet;
}

.callback-form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url("../images/callback-form.svg"); */
    width: 471px;
    height: 115px;
    background: #FFFFFF;
    border-radius: 14px;
    margin: 0 auto;
}

.lift {
    position: absolute;
    left: -125px;
    content: url("../images/lift.svg");
    background-repeat: no-repeat;
    width: 174px;
    height: 184px;
    /* margin-left: -100px; */
}

.input-container {
    display: flex;
    align-items: center;
}

.send-button {
    width: 150px;
    height: 41px;
    background: #005CA8;
    border: 1px solid #005CA8;
    border-radius: 0px 20.5px 20.5px 0px;
    cursor: pointer;
}

.send-button:hover {
    opacity: 0.8;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.phone-form {
    width: 209px;
    height: 41px;
    background: #F3F1F2;
    border: 1px solid #C4C4C4;
    border-radius: 20.5px 0px 0px 20.5px;
}

.phone-form:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 1px solid #005CA8;
}

input {
    -webkit-appearance: none;
}

*:focus {
    outline: none;
}

input:focus {
    border: 2px solid #005CA8;
}

input[type=text]:focus {
    border-radius: 20.5px 0px 0px 20.5px;
}

