* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
}

.logo {
    width: 117px;
    height: 80px;
    background: url("../images/logo.svg");
    position: absolute;
    top: 50px;
    left: 50px;
}

.main {
    background: url("../images/main-transport.svg");
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 700px;
    height: 80vh;
}

.yellow-clip {
    background-image: url("../images/yellow-clip.svg");
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 700px;
}

.services {
    background-image: url("../images/blue-bg-services.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20em;
    margin-top: calc(-120px - 10vw);
    /* transform: translateY(calc(-120px - 10vw)); */
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
    z-index: -1;
    position: relative;
}

@media (max-width: 660px) {
    .services {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

@media (min-width: 1400px) {
    .services {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

.callback {
    background-image: url("../images/blue-bg-services.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25em;
    margin-bottom: -200px;
    position: relative;
    z-index: 10;
    /* transform: translateY(calc(-120px - 10vw)); */
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

@media (max-width: 660px) {
    .callback {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

@media (min-width: 1400px) {
    .callback {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

.services-content {
    padding-top: calc(150px + 10vw);
}

.callback-content {
    padding-top: calc(150px + 5vw);
    border: 3px solid red;
}

.advantages {
    margin-top: -100px;
    /* width: 100%; */
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    position: relative;
}

.advantages-container {
    max-width: 1040px;
    width: 100%;
    padding: 0 3em;
    margin: 0 auto;
    position: relative;
}

.test {
    height: 500px;
    border: 3px solid black;
    background-color: blueviolet;
}

.callback-form {
    display: flex;
    align-items: center;
    /* background-image: url("../images/callback-form.svg"); */
    width: 471px;
    height: 115px;
    background: #FFFFFF;
    border-radius: 14px;
    margin: 0 auto;
}

.lift {
    top: -35px;
    left: -25px;
    content: url("../images/lift.svg");
    background-repeat: no-repeat;
    width: 174px;
    height: 184px;
    margin-left: -100px;
}

.input-container {
    display: flex;
    align-items: center;
}

.send-button {
    width: 150px;
    height: 41px;
    background: #005CA8;
    border: 1px solid #005CA8;
    border-radius: 0px 20.5px 20.5px 0px;
    cursor: pointer;
}

.send-button:hover {
    opacity: 0.7;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.phone-form {
    width: 209px;
    height: 41px;
    background: #F3F1F2;
    border: 1px solid #C4C4C4;
    border-radius: 20.5px 0px 0px 20.5px;
}

.phone-form:hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 1px solid #005CA8;
}

*:focus {
    outline: none;
}

input:focus {
    border: 2px solid #005CA8;
}

input[type=text]:focus {
    border-radius: 20.5px 0px 0px 20.5px;
}