/* clip-path */

@media (max-width: 660px) {
    .services {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    .callback {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

@media (min-width: 1400px) {
    .callback {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media (min-width: 1400px) {
    .services {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

/* max-width: 1400px */

@media (max-width: 1400px) {
    /* .header-right-positioned {
        margin-right: 17%;
    } */
    .main-text-wrapper {
        top: 140px;
    }
    .main-text2 {
        font-size: 54px;
        letter-spacing: 0em;
        line-height: 65px;
    }
    .main-text {
        font-size: 28px;
        line-height: 55px;
        letter-spacing: 0em;
    }
    .services {
        /* margin-top: calc(-120px - 16vw); */
        margin-top: calc(-360px);
        padding-bottom: 10em;
    }
    .services-content {
        padding-top: calc(150px + 17vw);
        /* padding-top: calc(350px ); */
    }
    .callback {
        padding-bottom: 5em;
    }
    .callback-content {
        padding-top: calc(130px + 5vw);
        /* padding-top: calc(130px ); */
    }
    .advantages {
        margin-top: -50px;
    }
    .service-icon-container {
        margin: 15px;
    }
    .service-icon-container {
        margin: 15px;
    }
}

@media (max-width: 1000px) {
    .main-text2 {
        font-size: 38px;
        line-height: 44px;
    }
    .main-text {
        font-size: 18px;
        line-height: 38px;
    }
    .main-text-wrapper {
        /* top: 90px; */
        right: 40px;
    }
}

/* max-width: 700px */

@media (max-width: 700px) {
    .main-text2 {
        font-size: 24px;
        line-height: 36px;
    }
    .main-text {
        font-size: 12px;
        line-height: 14px;
    }
    .logo {
        width: 59px;
        height: 40px;
        top: 10px;
        left: 9px;
    }
    .main-text-wrapper {
        top: 90px;
        right: 30px;
    }
    .company-phone {
        margin-top: 25px;
        width: 133px;
        height: 29px;
        font-weight: 500;
        font-size: 16px;
        line-height: 29px;
        background: #005CA8;
    }
    .header-right-positioned {
        margin-right: 15%;
    }
    .menu-button-container {
        top: 23px;
    }
    .main {
        transform: translateX(-25px);
        transition: transform 3.05s ease-in-out;
        /* background: url("../images/mobile-main.svg"); */
        background-repeat: no-repeat;
        /* min-height: 700px; */
        position: relative;
        /* height: 80vh; */
        z-index: 2;
    }
    .yellow-clip {
        background-image: url("../images/yellow-clip-mobile.svg");
        min-height: calc(50vh + 30vw);
        height: calc(50vh + 30vw);
    }
    .services-text {
        margin-top: 50px;
        line-height: 36px;
        letter-spacing: 0.03em;
        font-size: 30px;
    }
    .advantages-text {
        letter-spacing: 0.03em;
        margin-top: 50px;
        font-size: 30px;
        line-height: 36px;
    }
    .phone-text {
        font-size: 16px;
        line-height: 19px;
    }
    .contact-text {
        font-size: 16px;
        line-height: 19px;
    }
    .callback-form {
        width: 353px;
        height: 115px;
    }
    .send-button {
        width: 119px;
        height: 41px;
    }
    .phone-form {
        width: 190px;
        height: 41px;
    }
    .callback {
        background-image: url("../images/blue-bg-services-no-grill.svg");
        clip-path: unset;
        -webkit-clip-path: unset;
    }
    .services {
        background-image: url("../images/blue-bg-services-no-grill.svg");
        /* margin-top: calc(-870px); */
        margin-top: calc(-870px);
        clip-path: unset;
        -webkit-clip-path: unset;
    }
    .lift {
        width: 109px;
        height: 115px;
        left: 50px;
        top: 100px;
    }
    .services-content {
        padding-top: calc(450px + 10vw);
    }
    .container {
        padding: unset;
    }
}

@media (max-width: 420px) {
    .main-text2 {
        font-size: 22px;
        line-height: 24px;
    }
    .main-text {
        font-size: 12px;
        line-height: 24px;
    }
    .main-text-wrapper {
        top: 65px;
        right: 5px;
    }
}

@media (max-width: 321px) {
    .main-text2 {
        line-height: 24px;
        font-size: 18px;
    }
    .main-text {
        line-height: 24px;
        font-size: 10px;
    }
}

@media screen and (max-width: 640px) and (max-height: 900px) and (min-width: 600px) and (min-height: 360px)
/* and (min-height: 400px) */

    {
    /* .services-content {
        padding-top: calc(330px + 100vw );
    }  */
    .services {
        /* display:none; */
        margin-top: calc(-370px - 50vw);
    }
}

/* iphone6 */

@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (width: 667px) and (height: 375px) and (orientation: landscape) and (aspect-ratio: 667/375) {
    .services {
        margin-top: calc(-670px);
    }
}

/* iphone5 */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    .services-content {
        padding-top: calc(550px);
    }
}

/* iphone5 screen sizes */

@media (max-width: 330px) {
    .callback-form {
        width: 300px;
    }
}