@media (max-width: 660px) {
    .services {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
    .callback {
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }
}

@media (min-width: 1400px) {
    .callback {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media (min-width: 1400px) {
    .services {
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media (max-width: 1400px) {
    .main-text-wrapper {
        top: 140px;
    }
    .main-text2 {
        font-size: 54px;
        letter-spacing: 0em;
        line-height: 65px;
    }
    .main-text {
        font-size: 28px;
        line-height: 55px;
        letter-spacing: 0em;
    }
    .services {
        margin-top: calc(-120px - 16vw);
        padding-bottom: 10em;
    }
    .services-content {
        padding-top: calc(150px + 17vw);
    }
    .callback {
        padding-bottom: 5em;
    }
    .callback-content {
        padding-top: calc(130px + 5vw);
    }
    .advantages {
        margin-top: -50px;
    }
    .service-icon-container {
        margin: 15px;
    }
    .service-icon-container {
        margin: 15px;
    }
}

@media (max-width: 1000px) {
    .main-text2 {
        font-size: 24px;
        line-height: 28px;
    }
    .main-text {
        font-size: 12px;
        line-height: 14px;
    }
}

@media (max-width: 600px) {
    .main-text2 {
        font-size: 24px;
        line-height: 28px;
    }
    .main-text {
        font-size: 12px;
        line-height: 14px;
    }
    .logo {
        width: 59px;
        height: 40px;
        top: 0px;
        left: 0px;
    }
    .main-text-wrapper {
        top: 90px;
        right: 30px;
    }
    .company-phone {
        margin-top: 15px;
        width: 133px;
        height: 29px;
        font-weight: 500;
        font-size: 12px;
        line-height: 29px;
        background: #005CA8;
    }
    .main {
        background: url("../images/mobile-main.svg");
        /* background-size: contain; */
        background-repeat: no-repeat;
        /* min-height: 700px; */
        position: relative;
        /* height: 80vh; */
        z-index: 2;
    }
    .services-text {
        font-size: 30px;
        line-height: 90px;
        letter-spacing: 0.00em;
    }
    .advantages-text {
        font-size: 30px;
        line-height: 90px;
        /* letter-spacing: 0.00em; */
        line-height: 36px;
        letter-spacing: 0.03em;
    }
    .services-content {
        padding-top: 0;
    }

    
}